@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
h5 {
    font-size: 1rem;
}
.blue {
    background-color: #5273C6;
}
.active-blue {
    background-color: #2B478E;
}
main {
    background-color: #ddd1b3;
}
i {
    float: right;
}
.fa-bars {
    color: #ffffff;
}
#logo {
    top: 6.5rem;
}
.fa-times {
    color: #000000;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
p {
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0;
}
.hamburger-links {
    display: flex;
    flex-direction: column;
}
.full-size {
    height: 100vh;
}
hr {
    margin: 0;
}

#hero {
    height: 11.5rem;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: center;
}
#radial-gradient {
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.full-round {
    border-radius: 10rem;
}
#the-map {
    height: 15rem;
}

.sliced {
    background-image: url("../images/sliced.jpeg");
}
.card-back {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}

.left-button {
    border-radius: 10rem 0 0 10rem;
}
.right-button {
    border-radius: 0 10rem 10rem 0;
}
.product-button {
    font-size: 12px;
    padding: 0;
    text-align: center;
    color: #ffffff;
}